{% extends "base.html" %}

{% block start %}


<section>
    <div class="container" style="margin-top:6rem !important;">
       
        <div class="row text-center mt-4">
            <div class="col-sm-12 col-lg-12 mx-auto"><img class="img-fluid mb-5"
                    src="/media/{{blog_obj.image}}"
                    alt="">
            </div>
            <div class="col-sm-12 col-lg-12 mx-auto">
                <div class="text-content">
                    {{blog_obj.content|safe}}
                </div>
            </div>
        </div>
        {% comment %} <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content">
                    {{blog_obj.content|safe}}
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</section>



{% endblock %}